


header
{
  background-color:#d42929;
  color:#1e021c;
  text-align: center;;
}

header a
{
  text-decoration: none;
  color: #1e021c;
}
header a:hover
{
  color: #f5b47f;
}

nav
{
  font-weight: bold;
  padding: 0;
  font-size: 120%;
  text-align: center;
}
nav ul
{
  list-style: none;
  margin: 0;
  padding-left: 0;
  font-size: 1.15em;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #f5b47f;
}
nav li
{
  border-bottom: none;
  padding-top: 0.1em;
  padding-bottom: 0.1em;;
}
nav a 
{
  text-decoration: none;
}
nav a:link
{
  color: #1e021c;
}
nav a:hover
{
  color: #d42929;
}

 .home
 {
  height: 500px;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  }
.cities
{
  height: 250px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


body
{
  background-color:#FFFFFF;
  color: #474444;
  font-family: Arial, Helvetica, sans-serif;
}

main
{
  background-color: #FFFFFF;
  padding: 1px 20px 20px 30px;
  display: block;
  overflow: auto;
}

h1
{
  margin-bottom: 0;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.30em;
  padding-top: 0.55em;
  padding-bottom: 0.55em;
}

h2
{
  color: #d42929;
  font-family: Arial, Helvetica, sans-serif;
}

p 
{
  font-size: 18px;
  line-height: 1.5;
}

ul
{
  font-size: 18px;
  line-height: 1.5;
}
h3
{
  color: #1e021c;
  font-family: Arial, Helvetica, sans-serif;
}

section{
  margin-left: 2em;
  margin-right: 2em;
  flex: 1;
  }
  .three-divs {
  display: flex;
  flex-direction: row;
  }

.centered
  {
  text-align: center;
  }

table
{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-top: 15px;
}

td, th
{
  padding: 0.5em;
  border: 2px solid #f5b47f;
}

td
{
  text-align: center;
}

.area
{
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  border-radius: 8px;
  display: block;
}

.centered-img 
{
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

.citiesintro
{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 30px;
}


.gap
{
  margin-bottom: 5px;
}

a
{
  text-decoration: none;
}

.simple-form 
{
  max-width: 500px;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background-color: #f5b47f;
  border-radius: 10px;
}

.simple-form textarea 
{
  width: 100%;
  margin-bottom: 10px;
  padding: 6px;
  box-sizing: border-box;
}

.black
{
  color: #1e021c;
}

.red-bold
{
  color: red;
  font-weight: bold;
}


footer
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  font-style: italic;
  padding: 20px;
  background-color: #d42929;
  color: #1e021c;
  margin-top: 40px;
}
.footer-right a
  {
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  }

.footer-bar 
  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }